<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.NET Core MVC</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid text-center bg-dark mb-2" id="home">
        <div class="jumbotron bg-dark text-center text-primary">
            <h1>ASP.NET Core MVC</h1>
            <p>
                BOOTSTRAP JUMBOTRON                
            </p>            
            <h2>Counter:<span id="counter">0</span></h2>
        </div>        
        
    </div>
</body>

</html>